{% extends 'layout.html' %}

{% block body %}
 
{% macro render_field(field) %}
  {{ field.label }}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
      <span class="help-inline">{{ error }}</span>
    {% endfor %}
  {% endif %}
{% endmacro %}



<body style="background-image: url(../static/images/pe_register4.jpg); height: 100%; background-repeat: no-repeat; background-size: cover;">
<div class="container">
<h1 style="color:black; padding-top: 20px;padding-bottom: 10px; 
font-family: 'Libre Baskerville', serif; "> <center>Register as Public</center></h1><br>


<form method="POST" action="">
    <div class="form-group">
      {{render_field(form.First_Name, class_="form-control", placeholder="Type your first name here")}}
    </div>
    <div class="form-group">
      {{render_field(form.Last_Name, class_="form-control", placeholder="Type your last name here")}}
    </div>
    <div class="form-group">
      {{render_field(form.Email, class_="form-control", placeholder="Type your email address here")}}
    </div>


    <div class="form-group">
        {{render_field(form.Phone_Number, class_="form-control", placeholder="Type your 10-digit phone number here")}}
      </div>
      <div class="form-group">
        {{render_field(form.DOB, class_="form-control", placeholder="Choose date from calendar", type="date")}}
      </div>
    <div class="form-group">
      {{render_field(form.Username, class_="form-control", placeholder="Type your unique username here")}}
    </div>

    <div class="form-group">
        {{render_field(form.Password, class_="form-control", placeholder="Type your password here")}}
      </div>
      <div class="form-group">
        {{render_field(form.confirm, class_="form-control", placeholder="Confirm your password here")}}
      </div>
<div>
  <center> <p><input type="submit" class="btn btn-primary" value="submit" style="background-color: black; padding-top: 10px; padding-bottom: 10px; margin-top: 10px; margin-bottom: 20px;"></p></center>
</div>
  </form>






</div>
</body>

{% endblock %}